body {
    font-family: 'Poppins', sans-serif;
}

#font-resize {
    font-size: 50px;
}

.top-banner {
    text-align: center;
    background-image: url(images/donation13.jpg);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-text {
    color: white;
    padding-top: 50px;

}

.top-btn {
    text-decoration: none;
    color: white;
    width: 15px 45px;
    background-image: linear-gradient(orange, tomato);
    padding: 10px;
    border-radius: 5px;
}

.donate-for {
    text-align: center;
    padding: 20px 40px;
    margin: 40px;
}

.midium-header {
    font-size: 40px;
    font-weight: 700;
}

.money-amount li {
    float: left;
    list-style: none;
    padding: 40px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.514);

}

.money-amount {
    text-align: center;
}

.money-amount ul {
    display: inline-block;
    text-align: center;
}

#most-donate {
    color: tomato;
    border: 2px sloid rgb(243, 82, 53);
    background-color: rgba(255, 99, 71, 0.342);
    border-color: tomato;
}

.middle-one {
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
}

.middle-one h4 {
    font-weight: 700;
    color: rgba(128, 128, 128, 0.507);
}

.container-icon {
    display: flex;
    padding-left: 9%;
    padding-right: 2%;
}

#medicine {
    width: 20%;
}

.help-plan {
    width: 25%;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}

#food-bc {
    background-color: rgba(0, 0, 255, 0.212);
}

#shelter-bc {
    background-color: rgba(255, 99, 71, 0.342);
}

#medicine-bc {
    background-color: rgba(255, 166, 0, 0.288);
}